.container{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 80vh;
  color: #999;
}

.verticalBar{
  height: 200px;
  background-color: #999;
  width: 2px;
}

.info{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-left: -10%;
  width: 70%;
}

.mainTxt{
  font-weight: bold;
  font-size: 30px;
}

@media (min-width: 800px) {
  .mainTxt{
    font-weight: bold;
    font-size: 40px;
  }
  .info{
    width: auto;
  }
}

@media (min-width: 1300px) {
  
  .verticalBar{
    height: 300px;
    background-color: #999;
    width: 2px;
  }
  
  .info{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-left: -10%;
  }
  
  .mainTxt{
    font-weight: bold;
    font-size: 70px;
  }
}
