.containerPortfolio{
    width: 100vw;
    overflow-x: scroll;
    display: grid;
    grid-template-columns: auto auto;
}
.containerPortfolio::-webkit-scrollbar{
    background-color: #9999;
    width: 3px;
    
}

.cardContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
